.ss-feedback-griddiv{
    padding-top: 10vh;
}

.ss-feedback-gridcolumn{
    border-style: double;
    background-color: lightslategray;
}

.ss-feedback-formdiv{
    padding-top: 75px;
    text-align: center;
    align-items: center;
}

.ss-feedback-form{
    border-style: groove;
    padding: 1px;
    background-color: black;
    width: 100%;
}

.ss-feedback-formtextarea{
    width: 100%;
}

.ss-feedback-starslabel{
    padding: 10px;
}

.ss-feedback-submitbutton{
    padding-top: 50px;
    padding-bottom: 25px;
}

.ss-feedback-checkbox{
    margin: 10px;
}

.ss-feedback-emailtextarea{
    border-style: groove;
    padding: 1px;
    background-color: black;
    width: 100%;
}

