@media(max-width: 520px){
    .ss-header{ min-width: 395px; }
}

.ss-header{
    background-color: #464C55 !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.ss-header-searchbar{ padding-left: 12px !important; display: inline-block; }

.ss-white{ color: white !important; }

.ss-grey{ color: #464C55 !important; }

.ss-bg-grey{ background-color: #464C55 !important; }

.no-margin{ margin: 0 !important; }

.no-padding{ padding: 0 !important; }

.no-bottompadding{ padding-bottom: 0 !important; }

.inline{ display: inline-block !important; }

.hoverable:hover{
    cursor: pointer;
}