@media(max-width: 480px){
    .pad-top{ padding-top: 8% !important; }
}

.inline{ display: inline-block !important; }

.no-bottompadding{ padding-bottom: 0 !important; }

.pad-top{ padding-top: 20%; }

.ss-grey{ color: #464C55 !important; }

.pfp-upload-label{
    padding: 8px 30px 8px 30px;
}

.pfp-upload-label:hover{
    cursor: pointer;
}

.pfp-upload-button{
    padding: 10px 0px 10px 0px !important;
}

.username-input{
    margin-top: 12px;
}

#username-input{
    text-align: center !important;
    font-size: 26px;
    font-weight: bold;
    padding: 6px 0 !important;
}