
.basic-button{
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

.padded-cell-button{
    padding: 11px !important;
}

.hoverable{
    cursor: pointer;
}