.ss-statisticspage-graph{
    margin-top: 100px;
}

.ss-statisticspage-column{
    margin: 10px;
    border-style: solid;
    margin-top: 125px;
}

.ss-statisticspage-bargraph{
    margin-top: 125px;
}

.ss-statisticspage-linegraph{
    margin-top: 125px;
}
